@import '../../node_modules/animate.css/animate.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'font.css';

body {
    background: transparent;
    overflow: hidden;
}

.template {
    width:100%;
    display:block;
    height: 40px;
    background: #FFF;
    border:1px solid #000000;
    margin-bottom: 5px;
  }

  .template img {
    width:40px; 
    height:40px;
    display:inline-block
  }

  .template p {
    display: inline-block;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
  }

  .list-group-item.list-group-item-action span {
    padding-left: 10px;
    font-size: 12px;
    color: #c1bebe;
  }

  #searchInput {
    width: 80%;
    margin: 0 auto;
    border-radius: 32px;
    display: block;
    flex: 0.9 1 auto;
    border-color: rgba(255,193,7,1);
    background-color: #117a8b;
    border: 2px solid;
    color: #fdfeff;
  }
  .input-group.input-group-lg{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #17a2b8;
    height: 70px;
  }
  
  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: #ececec;
  }

  #searchInput.form-control{
    padding-left: 55px;
  }

  .form-control::placeholder {
    color: #FFF;
  }

  i.icon-left{
    float: right;
    position: absolute;
    left: 21px;
    z-index: 5;
    font-size: 37px;
    top: 17px;
    color: #17a2b8;
    display: none;
    color: #fdfeff;
  }

  i.icon-left.selected {
    display: block;
  }

  .list-group-item-action{
    color: #212529;
    background-color: #fdfeff;
    border-radius: 0;
    border: 8px solid #17a2b8;
  }
  .list-group-item-action:not(:last-child){
    border-bottom:0;
  }
  .list-group-item-action.selected {
    color: #212529;
    background-color: rgb(255, 231, 158);
    /* border-color: rgba(255,193,7,1); */
}

#settings .animation{
  margin: 0 auto;
  width: 100%;
  display: block;
  height: 25px;
  margin-top: 20px;
}
#settings .animation .line{
  position: relative;
  transition: width 4s;
  width: 100%;
  display: block;
  height: 1px;
  animation-duration: 4s;
  animation-name: grow;
  animation-iteration-count: infinite;
}
#settings .animation .dot{
  background-color: inherit;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: -5px;
  border-radius: 10px;

}

#settings .animation .left {
  float: left;
  width: 50%;
  animation-duration: 4s;
 animation-name: ltr;
 animation-iteration-count: infinite;
}
#settings .animation .left .line {
  background-color: #17a2b8;
}
#settings .animation .left .dot {
 right: 0;
}
#settings .animation .right, #settings .animation .left {
  position: relative;
}
#settings .animation .right {
 float: right;
 width: 50%;
 animation-duration: 4s;
 animation-name: rtl;
 animation-iteration-count: infinite;
}
#settings .animation .right .line {
  background-color: #ffc107;
  animation-direction: reverse;
}
#settings .animation .right .dot {
  left: 0;
 }

 @keyframes grow {
  from {
    width: 0%; 
  }

  to {

    width: 100%;
  }
}
@keyframes rtl {

  0%, 100% {
    left: 100%; 
  }
  

  25%,50% {

    left: 0%;
  }
}
@keyframes ltr {
  0%, 100% {
    left: -100%;
     
  }

  25%,50% {
    left: 0;
    
  }
}